:root {
    --body-bg: #fafafa;
    --box-bg: #fff;
    --box-border-color: #dbdbdb;
    --txt-color: #262626;
    --txt-second-color: #8e8e8e;
    --light-blue: #0095f6;
    --fb-color: #385185;
    --dark-blue: #00376b;
  }
  
.dark {
    --body-bg: #151515;
    --box-bg: #353535;
    --box-border-color: #666565;
    --txt-color: #d2d2d2;
  }
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-bg);
    color: var(--txt-color);
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.gnb{
    width: 100%;
    height: 80px;
    padding: 20px 100px;
    background-color: var(--box-bg);
    border-bottom: 1px solid var(--box-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.gnb h1 {
    margin: 0;
    
}

.gnb h1 a {
    display: flex;
    align-items: center;
}

.gnb h1 img{
    width: 140px;
   
}

.gnb-icon-wrap {
   
    display: flex;
}

.gnb-icon-wrap i {
    display: block;
    font-size: 25px;
    color: var(--txt-color);
    padding: 0 10px;
}

.wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 70px auto;
}

.wrap1 {
    width: 510px;
    margin-right: 20px;
}

.box {
    box-sizing: border-box;
    border: 1px solid var(--box-border-color);
    width: 100%
}

.box div {
    
    width: 100%;
  
}

.box-header {
    box-sizing: border-box;
    background-color: var(--box-bg);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile-txt {
    padding-left: 10px;
}

.box-img-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    flex-wrap: nowrap;
}

.box-icon {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
  
}

.box-icon i{
    padding-right: 10px;
    font-size: 18px;
    color: var(--txt-color);
}

.box-like {
    padding: 10px;
}

.box-comment {
    padding: 5px 10px;
    box-sizing: border-box;
    position: relative;
   
}

.box-comment div {
    display: inline;
}

.like-btn {
    cursor: pointer;
    color: var(--txt-color);
    background-color: var(--box-bg);
}

.like-btn i{
    font-size: 16px;
    color: var(--txt-color);
    background-color: var(--box-bg);
    position: absolute;
    top: 0;
    right: 10px;
}

.box-user-id {
    font-weight: 700;
}

.profile-img {
    width: 50px;
}

.box-last-hour {
    color: var(--txt-second-color);
    padding: 10px;
}

.comment-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    margin-bottom: 30px;
    border-top: none;
}


.comment-post {
    font-weight: 700;
    color: var(--light-blue);
}

.wrap2 {
    width: 310px;
}

.recommend {
    width: 100%;
}

.recommend-txt {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.recommend-txt div {
    display: inline;
}

.recommend-user{
    display: flex;
    align-items: center;
}

.recommend-user-img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}

.recommend-user-txt {
    padding-left: 5px;
}

.recommend-txt-sub {
    color: var(--txt-second-color);
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    display: none;
    transition: all 300ms ease-in-out;
}
.overlay.is-active{
    display: block;
}

.more-option {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    display: none;
    transition: all 800ms ease-in-out;
}

.more-option.is-active{
    display: block;
}

.more-option-list {
    z-index: 10;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    list-style: none;
    text-align: center;
    border-radius: 15px;
    padding: 0;
}

.more-option-list li{
    padding: 10px;
    border-bottom: 1px solid var(--txt-second-color);
}

.more-option-close{
    color: red;
    padding: 5px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.upload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    display: none;
    padding: 20px;
}

.upload.is-active{
    display: block;
}

.post-close-btn{
    position: fixed;
    top: -100px;
    right: -650px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
}

.upload form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload p{
    font-size: 18px;
    font-weight: 700;
}

.post-img-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
   
}

.post-img-preview p{
    padding: 0;
    margin: 0;
}

#img-canvas{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.file-wrapper{
    width: 100%;
    display: flex;
    justify-content: left;
}
.upload img{
    width: 100px;
}

.upload textarea{
    width: 100%;
    height: 150px;
    margin: 10px 0;
}
.upload form button{
    width: 100%;
    height: 30px;
    background-color: var(--light-blue);
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width : 960px) {
    .wrap2 {
        display: none;
    }

   .wrapper {
       width: 80%;
   }

   .wrap1 {
    width: 100%;
    margin: 0;
   }

   .gnb{
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .gnb h1 img{
        width: 120px; 
    }

    .gnb-icon-wrap i {
        font-size: 20px;
        padding: 0 5px;
    }
}

